{
  "extends": [
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "eol-last": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "windows"
    ],
    "import/no-unresolved": [
      "off"
    ],
    "max-len": [
      "off"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "object": true,
        "array": false
      }
    ],
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/extensions": [
      ".js"
    ]
  },
  "globals": {
    "PRODUCTION": false,
    "document": false,
    "window": false
  },
  "env": {
    "jest": true
  }
}